*{
    margin: 0;
    padding: 0;
    border: 0;
    box-sizing: border-box;
}

body{
    background-color: antiquewhite;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}

.menu{
   padding: 2rem;      
}

.title{
    padding: 1rem;
    text-align: center;
    margin: 0 auto;
    margin-bottom: 50px;
    width: 200px;
    position: relative;
}

.title .underline{
    border: 1px solid;
    background-color: sandybrown;
    width: 90px;
    height: 5px;
    position: absolute;
    left: 40%;
}

.btn-container{
    margin-bottom: 90px;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 1rem;
}

.filter-btn{
    border: 2px solid sandybrown;
    padding: 1rem;
     color: sandybrown;
     background-color: antiquewhite;
     border-radius: 10px;
}

.filter-btn:hover{
    color: rgb(252, 240, 225);
    background-color: sandybrown;
    transition: all 0.6s ease;
}

.filter-btn:active{
    color: white;
    background-color: rgb(250, 154, 137);
}

.section-center{ 
     display: flex;
     flex-wrap: wrap;
     align-items: center;
     justify-content:center ;
     gap: 1rem;
}

.section-center .menu-item{
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: left;
    width: 45%;
}

.menu-item img{
    width: 37%;
    height: 190px;
    object-fit: cover;
    border: 2px solid rgb(216, 173, 116);
    border-radius: 10px;
}

.item-info{
    margin: 0 auto;
    width: 40%;
    
}

.item-info header{
   display: flex; 
   justify-content: space-between;
}

.item-info header .price{
    color: #345543;
}

.item-info .item-text{
    margin-top: 10px;
    font-size: 13px;
    color:rgb(82, 71, 58);
}

@media (max-width: 900px){
    body{
        background: antiquewhite;
    }

    .section-center{
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
         gap: 1rem;
    }

    .section-center .menu-item{
        display: flex;
        justify-content: center;
        align-items: center;
        text-align: left;
        gap: 1rem;
        margin-bottom: 100px;
        flex-direction: column;
        width: 100%;
    }
    
    .menu-item img{
        width: 37%;
        height: 190px;
        object-fit: cover;
        border: 2px solid rgb(216, 173, 116);
        border-radius: 10px;
    }
    
    .item-info{
        margin: 0 auto;
        width: 40%;
        
    }
    
}








